site_name: LIS/ICT 690 - AI Literacy for Information Organizations
site_url: https://heng-zheng.github.io/ai-literacy/

plugins:
  - search

nav:
  - Home: index.md
  # BEGIN AUTO NAV
  # END AUTO NAV

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - toc.follow
    - search.highlight
    - search.suggest

extra_css:
  - stylesheets/extra.css